.search {
  
  width: 90%;
  border-radius:$border-radius;
  height: 44px;
  border: 1px solid $border-color;
  text-indent: 1rem;
  font-size: 1.7rem;
  font-family: 'HelveticaNeue', sans-serif;
  padding: 0 1rem;
  &:focus {
    outline: none;
    border: 1px solid $red;
  }
}

.search-container{
  width: 100%;
  @include Display(flex, center, center);
}
.search-wrapper{
  position: relative;
  width: 100%;
  @include Display(flex, flex-end);
  padding-right: 2rem;
}
.search-icon{
  position: absolute;
  z-index: 10;
  right: 37px;
  top:13px;
}

@media screen and (max-width: 767px) {
  .search {
    width: 100%;
  }
}