.search {
  
  width: 90%;
  border-radius:$border-radius;
  height: 44px;
  border: 1px solid $border-color;
  text-indent: 2rem;
  font-size: 1.7rem;
  font-family: 'HelveticaNeue', sans-serif;
  padding: 0 1rem;
}

.search-container{
  width: 100%;
  @include Display(flex, center, center);
}