@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css';

@font-face {
  font-family: 'chicagoflfregular';
  src: asset-url('../assets/font/HelveticaNeue.ttc') format('ttc');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $bg-color;
}
body {
  font-size: 1.6rem;
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: $color;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a, a:hover, a:focus {
  outline: none;
  transition: .4s;
}
.row {
  margin: 0;
}
.container {
  padding: 0;
}
ul {
  list-style: none;
  margin:0;
  padding:0;
}